/* you can import CSS from other pens - we'll import color and typography styles from this pen */
.blank_row
{
    height: 25px !important; /* overwrites any other rules */
}
body {
  margin-left: 0;
  margin-top: 0;
  margin-right: 0;
  color: #40514E;
  font-weight: bold;
